/* font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: aliceblue;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 100;
}
.social-call {
  height: 40px;

  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}
.social a {
  margin: 0px 5px;
  color: cornflowerblue;
  font-size: 0.9rem;
  display: inline-block;
}
.phone {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 30px;
  font-size: 0.9rem;
}
.social a:hover {
  color: darkseagreen;
  transition: all ease 0.3s;
}
.phone a:hover {
  color: seagreen;
  transition: all ease 0.3s;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0px 45px;
}
.logo img {
  height: 30px;
}
.menu {
  display: flex;
}
.homepage-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage-content-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepagecontent img {
  position: relative;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
.homepagecontent .homepage-content-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 70px;
}

.left-home-content {
  width: 275px;
  height: 400px;

  display: flex;
  flex-direction: column;
}

.right-home-content {
  width: 275px;
  height: 400px;

  display: flex;
  flex-direction: column;
}

.left-home-content button {
  width: 275px;
}

.right-home-content button {
  width: 275px;
}

.left-home-content button:hover {
  background-color: rgb(128, 158, 240);
}
.right-home-content button:hover {
  background-color: rgb(128, 158, 240);
}

.right-home-content h5 {
  text-align: center;
}

.left-home-content h5 {
  text-align: center;
}
.menu li {
  position: relative;
  margin: 20px;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
}
.menu li a {
  color: grey;
}
.right-menu a {
  margin: 0px 10px;
  font-size: 1.2rem;
  color: rgb(0, 0, 0, 0.7);
  display: inline-block;
}
.menu a:hover,
.right-menu a:hover {
  color: rgb(11, 42, 109);
  transition: all ease 0.3s;
}
.sale {
  width: 38px;
  height: 17px;
  background-color: red;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  right: -20px;
}
.sale:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-left: 3px solid transparent;
  border-top: 7px solid red;
  border-right: 5px solid transparent;
  position: absolute;
  left: 10%;
  top: 100%;
}
.search-bar {
  width: 100%;
  height: 300px;
  background-color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
  z-index: 101;
  animation: search 0.3s;
}
.search-input {
  width: 90%;
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}
.search-bar input {
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0px 20px;
}
.featured-items-container {
}

.featured-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 25px 25px 25px;
  gap: 40px 20px;
}

.logo-plus-title {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.page-title {
  align-self: center;
}
.page-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-item {
  flex-direction: column-reverse;
  width: 275px;
  height: 291px;
  margin-top: 15px;
}
/* .item-info:hover {
  background: red;
}
*/

#topbannertitle {
  font-size: 20pt;
  color: rgb(0, 0, 0);
}

.featured-out-of-stock {
  width: 150%;
  cursor: pointer;
}

.homepage-top-level-content {
  flex-direction: row;
  justify-content: center;
}

.featured-out-of-stock:hover {
  background: rgb(175, 67, 67);
}

.button-area {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
  width: 275px;
  height: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.body0 {
  flex-direction: column;
}

#topbannertext {
  font-size: 16;
}

.featured-top-banner {
  background-color: rgb(128, 158, 240);
  height: 50px;
  display: flex;
  justify-content: center;
}

.topbannercontainer {
  display: flex;
  justify-content: center;
}

.item-text {
  margin: 6px 5px 0px 5px;
  padding: 0px;
}
.item-image {
}
#featureditem1 {
}
#featureditem2 {
}
#featureditem3 {
}

.search-cancel {
  color: black;
  font-size: 2rem;
  padding-right: 40px;
}
.search-cancel:hover {
  color: red;
  transition: all ease 0.3s;
}
.search-bar {
  display: none;
}
.search-bar-active {
  display: flex;
}
@keyframes search {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0px;
  }
}

.slider-box {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide-1 {
  background-image: url("images/slider-image-1.jpg");
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: aliceblue;
  max-width: 100%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.2);
}

.subscribe__title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 7px;
}

.subscribe__copy {
  max-width: 450px;
  text-align: center;
  margin-bottom: 25px;
  line-height: 1.5;
}

.form {
  margin-bottom: 25px;
}

.form__email {
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #cad3db;
  width: 431px;
  height: 45px;
  font-size: 18px;
  color: #0f121f;
}

.form__email:focus {
  outline: 1px solid #3d9fff;
}

.form__button {
  background: #3d9fff;
  padding: 10px;
  border: none;
  width: 244px;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.7);
}

.form__button:hover {
  box-shadow: 0 10px 20px rgba(61, 159, 255, 0.7);
}

.notice {
  width: 500px;
}

 .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: aliceblue;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #d83107;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }