/* font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: aliceblue;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 100;
}
.social-call {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  margin: 0px 5px;
  color: cornflowerblue;
  font-size: 0.9rem;
  display: inline-block;
}
.phone {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 30px;
  font-size: 0.9rem;
}
.social a:hover {
  color: darkseagreen;
  transition: all ease 0.3s;
}
.phone a:hover {
  color: seagreen;
  transition: all ease 0.3s;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0px 45px;
}
.logo img {
  height: 30px;
}
.menu {
  display: flex;
}
.homepage-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage-content-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepagecontent img {
  position: relative;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
.homepagecontent .homepage-content-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 70px;
}

.left-home-content {
  width: 275px;
  height: 400px;

  display: flex;
  flex-direction: column;
}

.right-home-content {
  width: 275px;
  height: 400px;

  display: flex;
  flex-direction: column;
}

.left-home-content button {
  width: 275px;
}

.right-home-content button {
  width: 275px;
}

.left-home-content button:hover {
  background-color: rgb(128, 158, 240);
}
.right-home-content button:hover {
  background-color: rgb(128, 158, 240);
}

.right-home-content h5 {
  text-align: center;
}

.left-home-content h5 {
  text-align: center;
}
.menu li {
  position: relative;
  margin: 20px;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
}
.menu li a {
  color: grey;
}
.right-menu a {
  margin: 0px 10px;
  font-size: 1.2rem;
  color: rgb(0, 0, 0, 0.7);
  display: inline-block;
}
.menu a:hover,
.right-menu a:hover {
  color: rgb(11, 42, 109);
  transition: all ease 0.3s;
}
.sale {
  width: 38px;
  height: 17px;
  background-color: red;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  right: -20px;
}
.sale:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-left: 3px solid transparent;
  border-top: 7px solid red;
  border-right: 5px solid transparent;
  position: absolute;
  left: 10%;
  top: 100%;
}
.search-bar {
  width: 100%;
  height: 300px;
  background-color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
  z-index: 101;
  animation: search 0.3s;
}
.search-input {
  width: 90%;
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}
.search-bar input {
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0px 20px;
}
.featured-items-container {
}

.featured-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 25px 25px 25px;
  gap: 40px 20px;
}

.logo-plus-title {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.page-title {
  align-self: center;
}
.page-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-item {
  flex-direction: column-reverse;
  width: 275px;
  height: 291px;
  margin-top: 15px;
}
/* .item-info:hover {
  background: red;
}
*/

#topbannertitle {
  font-size: 20pt;
  color: rgb(0, 0, 0);
}

.featured-out-of-stock {
  width: 150%;
  cursor: pointer;
}

.homepage-top-level-content {
  flex-direction: row;
  justify-content: center;
}

.featured-out-of-stock:hover {
  background: rgb(175, 67, 67);
}

.button-area {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
  width: 275px;
  height: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.body0 {
  flex-direction: column;
}

#topbannertext {
  font-size: 16;
}

.featured-top-banner {
  background-color: rgb(128, 158, 240);
  height: 50px;
  display: flex;
  justify-content: center;
}

.topbannercontainer {
  display: flex;
  justify-content: center;
}

.item-text {
  margin: 6px 5px 0px 5px;
  padding: 0px;
}
.item-image {
}
#featureditem1 {
}
#featureditem2 {
}
#featureditem3 {
}

.search-cancel {
  color: black;
  font-size: 2rem;
  padding-right: 40px;
}
.search-cancel:hover {
  color: red;
  transition: all ease 0.3s;
}
.search-bar {
  display: none;
}
.search-bar-active {
  display: flex;
}
@keyframes search {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0px;
  }
}

.slider-box {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide-1 {
  background-image: url("../slider-image-1.jpg");
}
